# Основні залежності для PyTorch та torchvision
torch==2.0.1
torchvision==0.15.1
torchaudio==2.1.0

# Для роботи з даними
numpy
pandas

# Для обробки зображень та візуалізації
matplotlib
Pillow

# Для обробки зображень
scikit-image

# Для роботи з даними
scikit-learn

# Для роботи з h5 файлами
h5py
